# Binaries for programs and plugins
ticken-event-service
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# os and ide files
.idea/
.DS_Store
tmp/build-errors.log

# keystore
.keystore

# config
config.json

# secrets
.netrc
.env

# ticken-event-service
tmp

# uploaded assets folder
uploads